.vs/datasystem/v15/ipch/AutoPCH/f270295a8f2f95d/DATASYSTEM.ipch
.vs/datasystem/v15/ipch/AutoPCH/ef539ef45558f1ea/DATASYSTEM.ipch
.vs/datasystem/v15/ipch/AutoPCH/df225086e034c43b/DATASYSTEM_VECTOR.ipch
.vs/datasystem/v15/ipch/AutoPCH/63555dbb3135cba7/DATASYSTEM_COLOR.ipch
.vs/datasystem/v15/Solution.VC.db
.vs/datasystem/v15/Browse.VC.db
datasystem_test/Debug - DLL/datasystem_test.tlog/datasystem_test.lastbuildstate
datasystem_test/Debug - DLL/datasystem_test.tlog/cl.command.1.tlog
datasystem_test/Debug - DLL/datasystem_test.tlog/CL.write.1.tlog
datasystem_test/Debug - DLL/datasystem_test.tlog/CL.read.1.tlog
datasystem/x64/Release/datasystem.tlog/unsuccessfulbuild
datasystem/x64/Release/datasystem.tlog/datasystem.lastbuildstate
datasystem/x64/Release/datasystem.tlog/CL.command.1.tlog
datasystem/x64/Release - DLL/datasystem.tlog/link.write.1.tlog
datasystem/x64/Release - DLL/datasystem.tlog/link.read.1.tlog
datasystem/x64/Release - DLL/datasystem.tlog/link.command.1.tlog
datasystem/x64/Release - DLL/datasystem.tlog/datasystem.write.1u.tlog
datasystem/x64/Release - DLL/datasystem.tlog/datasystem.lastbuildstate
datasystem/Debug/link.8356.read.1.tlog
datasystem/Debug/link.8356-cvtres.write.1.tlog
datasystem/Debug/link.8356-cvtres.read.1.tlog
datasystem/Debug/link-cvtres.write.1.tlog
datasystem/Debug/link-cvtres.read.1.tlog
datasystem/Debug/lib.command.1.tlog
datasystem/Debug/datasystem_manifest.rc
datasystem/Debug/datasystem.write.1.tlog
datasystem/Debug/datasystem.lastbuildstate
datasystem/Debug/datasystem.exe.intermediate.manifest
datasystem/Debug/datasystem.exe.embed.manifest.res
datasystem/Debug/datasystem.exe.embed.manifest
datasystem/Debug/cl.command.1.tlog
datasystem/Debug/Lib-link.write.1.tlog
datasystem/Debug/Lib-link.read.1.tlog
datasystem/Debug/CL.write.1.tlog
datasystem/Debug/CL.read.1.tlog
datasystem/Debug - DLL/vc120.idb
datasystem/Debug - DLL/datasystem.tlog/link.write.1.tlog
datasystem/Debug - DLL/datasystem.tlog/link.read.1.tlog
datasystem/Debug - DLL/datasystem.tlog/link.command.1.tlog
datasystem/Debug - DLL/datasystem.tlog/datasystem.write.1u.tlog
datasystem/Debug - DLL/datasystem.tlog/datasystem.lastbuildstate
datasystem_test/Debug/link.10732-cvtres.read.1.tlog
datasystem_test/Debug/link.10536.write.1.tlog
datasystem_test/Debug/link.10536.read.1.tlog
datasystem_test/Debug/link.10536-cvtres.write.1.tlog
datasystem_test/Debug/link.10536-cvtres.read.1.tlog
datasystem_test/Debug/link.10532.write.1.tlog
datasystem_test/Debug/link.10532.read.1.tlog
datasystem_test/Debug/link.10532-cvtres.write.1.tlog
datasystem_test/Debug/link.10532-cvtres.read.1.tlog
datasystem_test/Debug/link-cvtres.write.1.tlog
datasystem_test/Debug/link-cvtres.read.1.tlog
datasystem/Debug/vc100.idb
datasystem/Debug/rc.write.1.tlog
datasystem/Debug/rc.read.1.tlog
datasystem/Debug/rc.command.1.tlog
datasystem/Debug/mt.write.1.tlog
datasystem/Debug/mt.read.1.tlog
datasystem/Debug/mt.command.1.tlog
datasystem/Debug/link.write.1.tlog
datasystem/Debug/datasystem.tlog/lib.command.1.tlog
datasystem/Debug/datasystem.tlog/datasystem.lastbuildstate
datasystem/Debug/datasystem.tlog/cl.command.1.tlog
datasystem/Debug/datasystem.tlog/Lib-link.write.1.tlog
datasystem/Debug/datasystem.tlog/Lib-link.read.1.tlog
datasystem/Debug/datasystem.tlog/CL.write.1.tlog
datasystem/Debug/datasystem.tlog/CL.read.1.tlog
datasystem_test/Debug/link.5812.write.1.tlog
datasystem_test/Debug/link.5812.read.1.tlog
datasystem_test/Debug/link.5812-cvtres.write.1.tlog
datasystem_test/Debug/link.5812-cvtres.read.1.tlog
datasystem_test/Debug/link.5324.write.1.tlog
datasystem_test/Debug/link.5324.read.1.tlog
datasystem_test/Debug/link.5324-cvtres.write.1.tlog
datasystem_test/Debug/link.5324-cvtres.read.1.tlog
datasystem_test/Debug/link.252.write.1.tlog
datasystem_test/Debug/link.252.read.1.tlog
datasystem_test/Debug/link.252-cvtres.write.1.tlog
datasystem_test/Debug/link.252-cvtres.read.1.tlog
datasystem_test/Debug/link.10732.write.1.tlog
datasystem_test/Debug/link.10732.read.1.tlog
datasystem_test/Debug/link.10732-cvtres.write.1.tlog
datasystem/Release/datasystem.tlog/Lib-link.write.1.tlog
datasystem/Release/datasystem.tlog/Lib-link.read.1.tlog
datasystem/Release/datasystem.tlog/CL.write.1.tlog
datasystem/Release/datasystem.tlog/CL.read.1.tlog
datasystem/Release/datasystem.lastbuildstate
datasystem/Release/cl.command.1.tlog
datasystem/Release/Lib-link.write.1.tlog
datasystem/Release/Lib-link.read.1.tlog
datasystem/Release/CL.write.1.tlog
datasystem/Release/CL.read.1.tlog
datasystem/Release - DLL/datasystem.tlog/link.write.1.tlog
datasystem/Release - DLL/datasystem.tlog/link.read.1.tlog
datasystem/Release - DLL/datasystem.tlog/link.command.1.tlog
datasystem/Release - DLL/datasystem.tlog/datasystem.write.1u.tlog
datasystem/Release - DLL/datasystem.tlog/datasystem.lastbuildstate
datasystem_test/Debug/datasystem_test.tlog/datasystem_test.lastbuildstate
datasystem_test/Debug/datasystem_test.tlog/cl.command.1.tlog
datasystem_test/Debug/datasystem_test.tlog/CL.write.1.tlog
datasystem_test/Debug/datasystem_test.tlog/CL.read.1.tlog
datasystem_test/Debug/datasystem_test.lastbuildstate
datasystem_test/Debug/datasystem_test.exe.intermediate.manifest
datasystem_test/Debug/datasystem_test.exe.embed.manifest.res
datasystem_test/Debug/datasystem_test.exe.embed.manifest
datasystem/Release - DLL/datasystem.tlog/cl.command.1.tlog
datasystem/Release - DLL/datasystem.tlog/CL.write.1.tlog
datasystem/Release - DLL/datasystem.tlog/CL.read.1.tlog
datasystem/Debug/vc120.idb
datasystem/Debug/link.read.1.tlog
datasystem/Debug/link.command.1.tlog
datasystem/Debug/link.8356.write.1.tlog
datasystem_test/Debug/rc.command.1.tlog
datasystem_test/Debug/mt.write.1.tlog
datasystem_test/Debug/mt.read.1.tlog
datasystem_test/Debug/mt.command.1.tlog
datasystem_test/Debug/link.write.1.tlog
datasystem_test/Debug/link.read.1.tlog
datasystem/x64/Debug - DLL/vc140.idb
datasystem/x64/Debug - DLL/datasystem.tlog/link.write.1.tlog
datasystem/x64/Debug - DLL/datasystem.tlog/link.read.1.tlog
datasystem/x64/Debug - DLL/datasystem.tlog/link.command.1.tlog
datasystem/x64/Debug - DLL/datasystem.tlog/datasystem.write.1u.tlog
datasystem/x64/Debug - DLL/datasystem.tlog/datasystem.lastbuildstate
datasystem/x64/Debug - DLL/datasystem.tlog/CL.write.1.tlog
datasystem/x64/Debug - DLL/datasystem.tlog/CL.read.1.tlog
datasystem/x64/Debug - DLL/datasystem.tlog/CL.command.1.tlog
datasystem/Release/lib.command.1.tlog
datasystem/Release/datasystem.tlog/lib.command.1.tlog
datasystem/Release/datasystem.tlog/datasystem.lastbuildstate
datasystem/Release/datasystem.tlog/cl.command.1.tlog
datasystem_test/Debug/link.9328.write.1.tlog
datasystem_test/Debug/link.9328.read.1.tlog
datasystem_test/Debug/link.9328-cvtres.write.1.tlog
datasystem_test/Debug/link.9328-cvtres.read.1.tlog
datasystem_test/Debug/link.8124.write.1.tlog
datasystem_test/Debug/link.8124.read.1.tlog
datasystem_test/Debug/link.8124-cvtres.write.1.tlog
datasystem_test/Debug/link.8124-cvtres.read.1.tlog
datasystem_test/Debug/CL.read.1.tlog
datasystem_test/Debug - DLL/vc120.idb
datasystem_test/Debug - DLL/datasystem_test.tlog/link.write.1.tlog
datasystem_test/Debug - DLL/datasystem_test.tlog/link.read.1.tlog
datasystem/x64/Release - DLL/datasystem.tlog/CL.write.1.tlog
datasystem/x64/Release - DLL/datasystem.tlog/CL.read.1.tlog
datasystem/x64/Release - DLL/datasystem.tlog/CL.command.1.tlog
datasystem_test/x64/Release - DLL/datasystem_test.tlog/CL.command.1.tlog
datasystem_test/main.cpp
datasystem_test/datasystem_test.vcxproj.filters
datasystem_test/datasystem_test.vcxproj
datasystem_test/Debug/vc120.idb
datasystem_test/Debug/vc100.idb
datasystem_test/Debug/rc.write.1.tlog
datasystem_test/Debug/rc.read.1.tlog
datasystem_test/Debug/datasystem_test_manifest.rc
datasystem_test/Debug/datasystem_test.write.1.tlog
datasystem_test/Debug/datasystem_test.unsuccessfulbuild
datasystem_test/Debug/datasystem_test.tlog/unsuccessfulbuild
datasystem_test/Debug/cl.command.1.tlog
datasystem_test/Debug/CL.write.1.tlog
datasystem_test/Debug - DLL/datasystem_test.tlog/link.command.1.tlog
datasystem/Debug - DLL/datasystem.tlog/cl.command.1.tlog
datasystem/Debug - DLL/datasystem.tlog/CL.write.1.tlog
datasystem/Debug - DLL/datasystem.tlog/CL.read.1.tlog
datasystem_test/x64/Release - DLL/datasystem_test.tlog/unsuccessfulbuild
datasystem_test/x64/Release - DLL/datasystem_test.tlog/datasystem_test.lastbuildstate
datasystem_test/Debug/link.command.1.tlog
x64/Release - DLL/datasystem.ipdb
x64/Release - DLL/datasystem.iobj
x64/Release - DLL/datasystem.exp
x64/Debug - DLL/datasystem.exp
lib/compile_linux.sh
Release - DLL/datasystem.exp
lib/libdatasystem_x64.so
Debug/datasystem.exp
Debug - DLL/soundscapes_fork.txt
Debug - DLL/datasystem.exp
Debug/datasystem_test.exp
datasystem.sdf
datasystem.VC.db
a.out
build_winx64/x64/RelWithDebInfo/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.read.1.tlog
build_winx64/x64/RelWithDebInfo/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.command.1.tlog
build_winx64/x64/RelWithDebInfo/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build_winx64/x64/RelWithDebInfo/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build_winx64/ZERO_CHECK.vcxproj
build_winx64/RelWithDebInfo/datasystem.exp
build_winx64/CMakeFiles/generate.stamp.list
build_winx64/CMakeFiles/generate.stamp.depend
build_winx64/CMakeFiles/3.12.1/VCTargetsPath.txt
build_winx64/CMakeFiles/3.12.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build_winx64/CMakeFiles/3.12.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build_winx64/CMakeFiles/3.12.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build_winx64/CMakeFiles/3.12.1/CompilerIdCXX/CompilerIdCXX.vcxproj
build_winx64/CMakeFiles/3.12.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build_winx64/CMakeFiles/3.12.1/CMakeSystem.cmake
build_winx64/CMakeFiles/3.12.1/CMakeRCCompiler.cmake
build_winx64/CMakeFiles/3.12.1/CMakeDetermineCompilerABI_CXX.bin
build_winx64/CMakeFiles/3.12.1/CMakeCXXCompiler.cmake
build_winx64/CMakeCache.txt
build_winx64/ALL_BUILD.vcxproj.filters
build_winx64/datasystem.dir/RelWithDebInfo/datasystem.tlog/link.read.1.tlog
build_winx64/datasystem.dir/RelWithDebInfo/datasystem.tlog/link.command.1.tlog
build_winx64/datasystem.dir/RelWithDebInfo/datasystem.tlog/datasystem.write.1u.tlog
build_winx64/datasystem.dir/RelWithDebInfo/datasystem.tlog/datasystem.lastbuildstate
build_winx64/datasystem.dir/RelWithDebInfo/datasystem.tlog/CL.read.1.tlog
build_winx64/CMakeFiles/cmake.check_cache
build_winx64/CMakeFiles/TargetDirectories.txt
build_winx64/CMakeFiles/3.12.1/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build_winx64/CMakeFiles/3.12.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build_winx64/CMakeFiles/3.12.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build_winx64/CMakeFiles/3.12.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build_winx64/ALL_BUILD.vcxproj
build_winx64/.vs/datasystem/v15/ipch/AutoPCH/a67f422f77bd617/DATASYSTEM.ipch
build_winx64/.vs/datasystem/v15/Solution.VC.db-wal
build_winx64/.vs/datasystem/v15/Solution.VC.db-shm
build_winx64/datasystem.dir/RelWithDebInfo/datasystem.tlog/custombuild.write.1.tlog
build_winx64/datasystem.dir/RelWithDebInfo/datasystem.tlog/custombuild.read.1.tlog
build_winx64/datasystem.dir/RelWithDebInfo/datasystem.tlog/custombuild.command.1.tlog
build_winx64/datasystem.dir/RelWithDebInfo/datasystem.tlog/CL.write.1.tlog
build_winx64/CMakeFiles/generate.stamp
build_winx64/CMakeFiles/feature_tests.cxx
build_winx64/CMakeFiles/feature_tests.bin
build_winx64/CMakeFiles/dbfb11808d0dcf61fe29a5ed38119f28/generate.stamp.rule
build_winx64/.vs/datasystem/v15/Solution.VC.db
build_winx64/.vs/datasystem/v15/Browse.VC.db
build_winx64/datasystem.vcxproj.filters
build_winx64/datasystem.vcxproj
build_winx64/datasystem.sln
build_winx64/datasystem.dir/RelWithDebInfo/datasystem.tlog/link.write.1.tlog
build_winx64/cmake_install.cmake
build_winx64/ZERO_CHECK.vcxproj.filters
build_winx64/CMakeFiles/3.12.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build_winx64/datasystem.dir/RelWithDebInfo/datasystem.tlog/CL.command.1.tlog
build_winx64/x64/RelWithDebInfo/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.write.1.tlog
build_winx64/CMakeFiles/3.12.1/VCTargetsPath.vcxproj
